<div class="container">
        <h3 class="title">Create New Employee</h3>
        <form class="form" (ngSubmit)="handleSubmit()" [formGroup]="createEmployeeForm">
            <div >
                <label for="first name">First Name</label>
                <input type="text" placeholder="Enter Firstname..."
                    class="input" formControlName="firstName"
                    [class]="createEmployeeForm.invalid && (createEmployeeForm.dirty || createEmployeeForm.touched) && createEmployeeForm.hasError('required', 'firstName'
                        )">

                @if (createEmployeeForm.invalid && (createEmployeeForm.dirty || createEmployeeForm.touched)) {
                <div >
                    @if (createEmployeeForm.hasError('required', 'firstName')) {
                    <p>Firstname is required</p>
                    }
                </div>
                }
            </div>

            <div >
                <label for="last name">Last Name</label>
                <input type="text" placeholder="Enter Lastname..."
                    class="input" formControlName="lastName"
                    [class]="createEmployeeForm.invalid && (createEmployeeForm.dirty || createEmployeeForm.touched) && createEmployeeForm.hasError('required', 'lastName'
                        )">

                @if (createEmployeeForm.invalid && (createEmployeeForm.dirty || createEmployeeForm.touched)) {
                <div >
                    @if (createEmployeeForm.hasError('required', 'lastName')) {
                    <p>Lastname is required</p>
                    }
                </div>
                }
            </div>
            <div >
                <label for="jobTitle">jobTitle</label>
                <input type="text" placeholder="Enter jobTitle..."
                    class="input" formControlName="jobTitle"
                    [class]="createEmployeeForm.invalid && (createEmployeeForm.dirty || createEmployeeForm.touched) && (createEmployeeForm.hasError('required', 'jobTitle'
                        ) || createEmployeeForm.hasError('jobTitle', 'jobTitle'))">

                @if (createEmployeeForm.invalid && (createEmployeeForm.dirty || createEmployeeForm.touched)) {
                <div >
                    @if (createEmployeeForm.hasError('required', 'jobTitle')) {
                    <p>jobTitle is required</p>
                    }
                    @if (createEmployeeForm.hasError('jobTitle', 'jobTitle')) {
                    <p>jobTitle is must be an jobTitle</p>
                    }
                </div>
                }
            </div>

            <div >
                <button type="button"
                    class="button"
                    [disabled]="createEmployeeForm.invalid || isLoading"
                    (click)="handleSubmit()">
                    Create Employee
                </button>
            </div>
        </form>
   
</div>